<!DOCTYPE html>
	<html>
	    <head>
	    	<title> Learn Words </title>
	        {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'flashcards/text_flashcards.css' %}">
            <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	    </head>

	    <body>
	    	<div id="nav-placeholder"> </div>
	    	<h1 style="text-align: center;font-size:60px;margin-top: 100px;"> Here are the list of all texts</h1>
	    	{% for t in page_obj %}
	    	<div class="container">
	    		<div class="face">
	    			{% if t.title %}
		  			<div class='title'> {{ t.title}} </div><br>
		  			<hr>
		  			<div class='text'> {{ t.text|linebreaksbr }} </div>
		  			{% else %}
		  			<div class='sentence'> {{ t.text|linebreaksbr }} </div>
		  			{% endif %}	  			
		  		</div>
	  		</div>
	  		{% endfor %}

	  		<div class="pagination">
			    <span class="step-links">
			        {% if page_obj.has_previous %}
			            <a href="?page=1">&laquo; first</a>
			            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
			        {% endif %}

			        <span class="current">
			            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			        </span>

			        {% if page_obj.has_next %}
			            <a href="?page={{ page_obj.next_page_number }}">next</a>
			            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
			        {% endif %}
			    </span>
			</div>
	  		<script src="{% static 'flashcards/flashcards.js' %}"></script> 
	  		<script>
				$(function(){
				  $("#nav-placeholder").load("{% url 'flashcards:nav_bar' %}");
				});
				</script>

	  		
	  	</body>
	 </html>

