<!DOCTYPE html>
	<html>
	    <head>
	    	<title> Today Test </title>
	        {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'flashcards/test.css' %}">
            <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	    </head>

	    <body>
	    	<div id="nav-placeholder"> </div>
	    	<h1 style='text-align: center;font-size:60px;margin-top: 100px;'> Today's test </h1>
            <div class='container'>
                <div class='card'>
                       {{ word.word }}<br>
                       <div class='example_sentence' style='margin-top:50px'>
                           <p><b>Correct answer:</b> {{word.example_sentence}}</p>
                           <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your answer: </b> {{word.last_answer}}</p>
                           <div class='check_button'>
	                           <a href="{% url 'flashcards:today_test_pass' word.word%}" class="button" style='font-size:20px;'>pass</a>
	                       </div>
	                       <div class='space'></div>
	                       <div class='check_button'>
	                           <a href="{% url 'flashcards:today_test_again' word.word%}" class="button" style='font-size:20px;'>again</a>
	                       </div>
	                       <div class='space'></div>
	                       <div class='check_button'>
	                           <a href="{% url 'flashcards:today_test_fail' word.word%}" class="button"style='font-size:20px;'>fail</a>
	                       </div>
	                   </div>
                   		</div>
                </div>
			</div>
			<script>
				$(function(){
				  $("#nav-placeholder").load("{% url 'flashcards:nav_bar' %}");
				});
				</script>
        </body>
    </html>