.container{
    background-color: white;
    width: 35vw;
    height: auto;

    margin:  auto;
    margin-top: 280px;
    border-radius: 25px;
    border-style: solid;
    
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

}

body {
	background-color: lightblue;
}